.target0{
    margin-top: 10px;
}
body{
    background-image: url(images/mona-eendra-vC8wj_Kphak-unsplash.jpg);
}
.target{
    background-image: url(images/mona-eendra-vC8wj_Kphak-unsplash.jpg);
}
.target1{
    background-image: url(images/mona-eendra-vC8wj_Kphak-unsplash.jpg);
}
.target2{
    margin-top: 10px;

}